/*Radio buttons*/

label.radio {
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-right: 5px;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 9px 20px;
    border: 1px solid white;
    display: inline-block;
    color: white;
    border-radius: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    background: rgba(255, 255, 255, 0.452) !important;
    font-weight: 500;
    font-size: 19px ;
}

label.radio input:checked+span {
    border-color: gold;
    background: rgba(255, 255, 255, 0.65) !important;
    color: green;
}

textarea.form-control{
    height: 100px;
}