.margin-label{
    margin-bottom: 0px;
}

.margin-from-label{
    margin-bottom: 25px;
}

.eye{
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 17px;
    cursor: pointer;
}

.needs-validation{
    margin-bottom: 0;
}

.invalid{
    border-color: #ff0000;
    background-image: url(../icons/error.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.valid{
    border-color: #00ff00;
    background-image: url(../icons/correct.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.invalid-pass{
    border-color: #ff0000;
    background-image: url(../icons/error.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 40px center;
}

.valid-pass{
    border-color: #00ff00;
    background-image: url(../icons/correct.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 40px center;
}

.invalid-pref{
    border-color: #ff0000;
    background-image: url(../icons/error.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.valid-pref{
    border-color: #00ff00;
    background-image: url(../icons/correct.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.col-border{
    border: 1px solid white;
    border-radius: 0.75rem;
    padding: 40px;
    margin-top: 3%;
}

.col-border2{
    border: 1px solid white;
    border-radius: 0.75rem;
    padding: 40px;
    margin-top: 3%;
    width: 70%;
    border-radius: 0.5rem; 
    border: 1px solid white; 
    background-color: rgba(255, 255, 255, 0.452) !important;
}

.reg-title{
    color: white;
    text-align: center;
    font-weight: bold;
    /*text-transform: uppercase;*/
    font-size: 46px;
    font-weight: 600;
    height: 50px;
    /*padding-top: 30px;*/
}

/*.reg-title{
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    padding-top: 30px;
}*/

.reg-title2{
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    padding-top: 30px;
}

.h4-reg-title{
    font-size: 26px;
}

.text-rules-box{
    height: 50px;
    border-bottom: 1px solid white;
}

.text-rules-box-last{
    height: 50px;
    /*border-bottom: 1px solid white;*/
}

.text-rules{
    color: white;
    /*padding-top: 12px;*/
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.col-rules{
    /*padding-top: 12.5%;
    padding-bottom: 12.5%;*/
}

.empty{
    /*height: 50px;*/
}

.page{
    transition: 0.5s;
}

.page#blur.active{
filter: blur(20px);
pointer-events: none;
user-select: none;
}

#popup{
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
width: 600px;
padding: 50px;
box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
/*background-color:maroon;*/
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(00,78,146,0.9475140397956058) 50%, rgba(0,0,0,1) 100%);
border: 1px solid white;
border-radius: 0.75rem;
visibility: hidden;
opacity: 0;
transition: 0.5s;
}

#popup.active{
top: 50%;
visibility: visible;
opacity: 1;
transition: 0.5s;
}

.profile-img2{
    text-align: center;
    border-radius: 20px;    /* modificato border radius*/
    color: white;
}

.col-padding{
    padding-left: 0;
    padding-right: 0;
    width: 70%;
}

.col-padding-left{
    padding-left: 0;
}

.col-padding-right{
    padding-right: 0;
}

.icon-white{
    color: white;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.452) !important;
    color: white;
}

.form-label-group > label{
    color: white;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    color: white;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: white;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: white;
    }
}